.main {
    width: 75%;
    max-width: 800px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table,
td,
th {
    border: 1px solid #aaa;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

h1 {
    text-align: left;

}

button {
    width: 50%;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    background-color: #2119ff;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #06d1ff; }