@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
body,
html {
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: rgb(255, 255, 255);
    
}

.content {
  width: 75%;
  max-width: 800px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table,
td,
th {
    border: 1px solid #aaa;
    
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

h1 {
    text-align: left;
    
}


/* --------- button --------------- */ 
  button {
    background-color: #3300ff; /* Green */
    color: white;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 50%;
    border-radius: 16px;
    font-weight: bold;
  }

  button:hover {
    background-color: #03affff7; /* Darker green on hover */
  }
/* ---------------------------------------- */
/* -------- inputs and text area ---------- */
.form-container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 500px;
  position: relative;
}

.image_and_input {
  margin-bottom: 10px;
  position: relative;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}   

input, textarea {
  width: 50%;
  padding: 14px;
  font-size: 16px;
  border: 2px solid #dcdcdc;
  border-radius: 12px;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #4C9AFF;
  outline: none;
}

.calendar-icon {
  position: absolute;
  top: -45%;
  right: 5%;
  width: 10rem;
  height: 10rem;
  
}
.chat-icon {
  position: absolute;
  top: 10%;
  right: 22%;
  width: 10rem;
  height: 10rem;
  z-index: 1;
}
.pin-icon {
  position: absolute;
  top: 80%;
  right: 10%;
  width: 9rem;
  height: 12rem;
}

button {
  width: 50%;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  background-color: #2119ff;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #06d1ff;
}


/* ---------------------------------------- */


#content {
    width: 100%;
}

